{% extends 'base.html' %}
{% block content %}
    <h2>{{shipment.shipment_name}}</h2>
    <br/>
    <h3>Tracking Number: {{shipment.shipment_id}}</h3>
    <h3>Shipment Status: </h3>
    <h4>{{shipment.status}}</h4>
    <br/>
    <h3>Shipping Address: </h3>
    <h4>({{shipment.dest_addr_x}}, {{shipment.dest_addr_y}})</h4>
    <br/>
    <h3>This shipment has following items</h3>
    <br/>
    {% for item in item_set %}
        {{item.item_name}}
        <br/>
        Number : {{item.count}}
        <br/>
    {% endfor %}
{% endblock %}

